.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px 10px;
  grid-auto-flow: row;
  align-content: stretch;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas: ". autoComplete .";
}

.autoComplete {
  grid-area: autoComplete;
}
